<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.idc.declan.ios" platformBuildVersionCode="31" platformBuildVersionName="12">
    <overlay android:category="android.customization.switch_style" android:priority="1" android:targetPackage="com.android.settings"/>
    <application android:extractNativeLibs="true" android:hasCode="false" android:label="IOS"/>
</manifest>